Repository cinemagoer/cinemagoer, pull requests merged in 2020-07, with the labels that each got.

#270 Add tqdm progress bar to s32imdbpy
  bin/s32imdbpy.py
  setup.py
Labels: enhancement, s3

#273 Add imdb list as a source
  bin/get_movie_list.py
  imdb/__init__.py
  imdb/parser/http/__init__.py
  imdb/parser/http/listParser.py
  tests/test_http_movie_list.py
Labels: enhancement, http

#274 fix: use imdbpy root logger
  imdb/parser/http/piculet.py
Labels: enhancement, http

#279 Fix s3 parser get_movie_main to use title_episode table as needed
  imdb/parser/s3/__init__.py
Labels: bug, s3
